n8n/workflows/audio-webhook.json
{
    "updatedAt": "2026-02-20T13:43:37.629Z",
    "createdAt": "2026-02-20T13:38:27.584Z",
    "id": "F0f9SKJDh-3W8zORFzkP2",
    "name": "Audio Webhook",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "whatsapp-audio",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                0,
                0
            ],
            "id": "5ce42142-a220-48ce-a474-62b997c7e933",
            "name": "Webhook",
            "webhookId": "60a59083-a065-4033-8714-ade551f53018"
        },
        {
            "parameters": {
                "resource": "audio",
                "operation": "transcribe",
                "options": {}
            },
            "id": "e58d657d-7a3b-4b42-9ce1-6679204157fc",
            "name": "OpenAI",
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "position": [
                208,
                0
            ],
            "typeVersion": 1,
            "credentials": {
                "openAiApi": {
                    "id": "PlLHyp9uqXkwKpdR",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "modelId": {
                    "__rl": true,
                    "mode": "list",
                    "value": "gpt-4-turbo-preview",
                    "cachedResultName": "GPT-4-TURBO-PREVIEW"
                },
                "messages": {
                    "values": [
                        {
                            "content": "  You are a WhatsApp assistant that reads audio transcriptions on behalf of the chat owner. Your job is to understand what  \n  the sender is requesting or communicating, then reply directly to them confirming what you understood.\n                                                                                                                            \n  Rules:                                                    \n  - Write in Brazilian Portuguese (pt-BR), casual WhatsApp tone\n  - Address the sender directly (use \"voc\u00ea\")\n  - Summarize what they said and what they seem to need\n  - Ask them to confirm the key points, like: \"Posso confirmar que voc\u00ea precisa de X, Y e Z?\"\n  - If the audio is just casual/informational with no action needed, acknowledge it briefly\n  - Keep it short \u2014 max 3-4 sentences, no formatting, no bullet points\n  - Never mention that you are an AI or that this came from an audio transcription",
                            "role": "system"
                        },
                        {
                            "content": "={{ $json.text }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "5188a038-eedb-4fee-ba71-a19e179c15cf",
            "name": "OpenAI1",
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "position": [
                432,
                0
            ],
            "typeVersion": 1,
            "credentials": {
                "openAiApi": {
                    "id": "PlLHyp9uqXkwKpdR",
                    "name": "OpenAi account"
                }
            }
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "OpenAI",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI": {
            "main": [
                [
                    {
                        "node": "OpenAI1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "binaryMode": "separate",
        "availableInMCP": false
    },
    "staticData": null,
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "bd9da91f-50d8-4424-870a-72142896ef6e",
    "activeVersionId": "bd9da91f-50d8-4424-870a-72142896ef6e",
    "versionCounter": 24,
    "triggerCount": 1,
    "shared": [
        {
            "updatedAt": "2026-02-20T13:38:27.584Z",
            "createdAt": "2026-02-20T13:38:27.584Z",
            "role": "workflow:owner",
            "workflowId": "F0f9SKJDh-3W8zORFzkP2",
            "projectId": "YvMDl9T5YG3XdGpm",
            "project": {
                "updatedAt": "2026-02-20T13:37:49.105Z",
                "createdAt": "2026-02-20T12:55:53.788Z",
                "id": "YvMDl9T5YG3XdGpm",
                "name": "Gustavo Chahm Francelino <admin@admin.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "52f77faa-5441-47ef-9b39-79aeef0c0f02",
                "projectRelations": [
                    {
                        "updatedAt": "2026-02-20T12:55:53.788Z",
                        "createdAt": "2026-02-20T12:55:53.788Z",
                        "userId": "52f77faa-5441-47ef-9b39-79aeef0c0f02",
                        "projectId": "YvMDl9T5YG3XdGpm",
                        "user": {
                            "updatedAt": "2026-02-20T13:40:12.623Z",
                            "createdAt": "2026-02-20T12:55:53.518Z",
                            "id": "52f77faa-5441-47ef-9b39-79aeef0c0f02",
                            "email": "admin@admin.com",
                            "firstName": "Gustavo",
                            "lastName": "Chahm Francelino",
                            "personalizationAnswers": {
                                "version": "v4",
                                "personalization_survey_submitted_at": "2026-02-20T13:37:51.242Z",
                                "personalization_survey_n8n_version": "2.6.3"
                            },
                            "settings": {
                                "userActivated": false,
                                "easyAIWorkflowOnboarded": true
                            },
                            "disabled": false,
                            "mfaEnabled": false,
                            "lastActiveAt": "2026-02-20",
                            "isPending": false
                        }
                    }
                ]
            }
        }
    ],
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-02-20T13:43:42.133Z",
        "createdAt": "2026-02-20T13:43:37.630Z",
        "versionId": "bd9da91f-50d8-4424-870a-72142896ef6e",
        "workflowId": "F0f9SKJDh-3W8zORFzkP2",
        "nodes": [
            {
                "parameters": {
                    "httpMethod": "POST",
                    "path": "whatsapp-audio",
                    "options": {}
                },
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 2.1,
                "position": [
                    0,
                    0
                ],
                "id": "5ce42142-a220-48ce-a474-62b997c7e933",
                "name": "Webhook",
                "webhookId": "60a59083-a065-4033-8714-ade551f53018"
            },
            {
                "parameters": {
                    "resource": "audio",
                    "operation": "transcribe",
                    "options": {}
                },
                "id": "e58d657d-7a3b-4b42-9ce1-6679204157fc",
                "name": "OpenAI",
                "type": "@n8n/n8n-nodes-langchain.openAi",
                "position": [
                    208,
                    0
                ],
                "typeVersion": 1,
                "credentials": {
                    "openAiApi": {
                        "id": "PlLHyp9uqXkwKpdR",
                        "name": "OpenAi account"
                    }
                }
            },
            {
                "parameters": {
                    "modelId": {
                        "__rl": true,
                        "mode": "list",
                        "value": "gpt-4-turbo-preview",
                        "cachedResultName": "GPT-4-TURBO-PREVIEW"
                    },
                    "messages": {
                        "values": [
                            {
                                "content": "  You are a WhatsApp assistant that reads audio transcriptions on behalf of the chat owner. Your job is to understand what  \n  the sender is requesting or communicating, then reply directly to them confirming what you understood.\n                                                                                                                            \n  Rules:                                                    \n  - Write in Brazilian Portuguese (pt-BR), casual WhatsApp tone\n  - Address the sender directly (use \"voc\u00ea\")\n  - Summarize what they said and what they seem to need\n  - Ask them to confirm the key points, like: \"Posso confirmar que voc\u00ea precisa de X, Y e Z?\"\n  - If the audio is just casual/informational with no action needed, acknowledge it briefly\n  - Keep it short \u2014 max 3-4 sentences, no formatting, no bullet points\n  - Never mention that you are an AI or that this came from an audio transcription",
                                "role": "system"
                            },
                            {
                                "content": "={{ $json.text }}"
                            }
                        ]
                    },
                    "options": {}
                },
                "id": "5188a038-eedb-4fee-ba71-a19e179c15cf",
                "name": "OpenAI1",
                "type": "@n8n/n8n-nodes-langchain.openAi",
                "position": [
                    432,
                    0
                ],
                "typeVersion": 1,
                "credentials": {
                    "openAiApi": {
                        "id": "PlLHyp9uqXkwKpdR",
                        "name": "OpenAi account"
                    }
                }
            }
        ],
        "connections": {
            "Webhook": {
                "main": [
                    [
                        {
                            "node": "OpenAI",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "OpenAI": {
                "main": [
                    [
                        {
                            "node": "OpenAI1",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "Gustavo Chahm Francelino",
        "name": "Version bd9da91f",
        "description": "",
        "autosaved": true,
        "workflowPublishHistory": [
            {
                "createdAt": "2026-02-20T13:43:42.132Z",
                "id": 2,
                "workflowId": "F0f9SKJDh-3W8zORFzkP2",
                "versionId": "bd9da91f-50d8-4424-870a-72142896ef6e",
                "event": "activated",
                "userId": "52f77faa-5441-47ef-9b39-79aeef0c0f02"
            }
        ]
    }
}
