n8n/workflows/LFLeF8c4GI7WDUl8.json
{
  "id": "LFLeF8c4GI7WDUl8",
  "name": "WA Claude Auto-Reply",
  "active": false,
  "nodes": [
    {
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "responseMode": "onReceived",
        "options": {}
      },
      "webhookId": "wa-claude-autoreply"
    },
    {
      "id": "node-filter",
      "name": "Filter Messages",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [300, 0],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-not-group",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              },
              "leftValue": "={{ $json.body.is_group }}",
              "rightValue": ""
            },
            {
              "id": "cond-not-from-me",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              },
              "leftValue": "={{ $json.body.is_from_me }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-agent",
      "name": "Call Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [600, 0],
      "parameters": {
        "method": "POST",
        "url": "http://wa_bridge-whatsapp-1:8080/agent",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $('Webhook').item.json.body.chat_id, sender_id: $('Webhook').item.json.body.sender_id, is_group: $('Webhook').item.json.body.is_group, is_from_me: $('Webhook').item.json.body.is_from_me, text: $('Webhook').item.json.body.text, message_id: $('Webhook').item.json.body.message_id }) }}",
        "options": {
          "timeout": 180000
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Messages": {
      "main": [
        [
          {
            "node": "Call Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
