n8n/workflows/pyTuiSKrpDf1H5i3.json
{
  "id": "pyTuiSKrpDf1H5i3",
  "name": "WA Audio Webhook",
  "active": false,
  "nodes": [
    {
      "id": "ad233d7e-e238-4e20-81d5-2379714e73d8",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "parameters": {
        "path": "whatsapp-audio",
        "options": {}
      }
    },
    {
      "id": "b1a2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Transcribe Audio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [400, 0],
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "data",
        "options": {
          "language": "pt"
        }
      }
    },
    {
      "id": "c2b3a4d5-f6e7-8901-bcde-f12345678901",
      "name": "Update Description",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [800, 0],
      "parameters": {
        "method": "POST",
        "url": "http://wa_bridge-whatsapp-1:8080/messages/description",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message_id: $('Webhook').item.json.body.message_id, chat_id: $('Webhook').item.json.body.chat_id, description: $json.text }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Update Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
